    <footer class="footer">
      <p>
        Created by <a href="https://github.com/tuanngocptn" target="_blank">Nick - Ngoc Pham</a> 🇻🇳 | Powered by
        <a href="https://github.com/tuanngocptn/nport" target="_blank">nport</a> |
        <a href="https://www.npmjs.com/package/nport" target="_blank">npm</a>
      </p>
    </footer>
    <script src="./assets/js/script.js" defer></script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-analytics.js";

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyArRxHZJUt4o2RxiLqX1yDSkuUd6ZFy45I",
        authDomain: "nport-link.firebaseapp.com",
        projectId: "nport-link",
        storageBucket: "nport-link.firebasestorage.app",
        messagingSenderId: "515584605320",
        appId: "1:515584605320:web:88daabc8d77146c6e7f33d",
        measurementId: "G-8MYXZL6PGD"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
  </body>
</html> 